version: 2.1

########################
# Workflow Definitions #
########################
workflows:
  main:
    jobs:
      - runner-test:
          context: Info-b23prodtm

###################
# Job Definitions #
###################
jobs:
  runner-test:
    resource_class: medium
    docker:
      #- image: nestybox/ubuntu-noble-systemd-docker
      #  entrypoint: ["dockerd"]
      #  command: ["--host=unix:///var/run/docker.sock"]
      - image: cimg/base:2024.12
        environment:
          RUNNER_CLASS: K8S_RUNNER_RESOURCE
          TOKEN: K8S_RUNNER_TOKEN
    steps:
      - checkout
      - run:
          name: Verify environment
          command: |
            printenv
      - run:
          name: Install podman and minikube
          command: |
            printf "1\ny\n2\ny\n" | ./configure_ubuntu.sh
      - run:
          name: Install helm and charts
          command: |
            cp values.yaml.example values.yaml
            sed -i -e "s/(YOUR_CIRCLECI_TOKEN_HERE)/${TOKEN}/" \
            -e "s#(MY_ORG/RESOURCE_CLASS_HERE)#${RESOURCE_CLASS}#" values.yaml
            printf "1\n1\ny\n" | ./install.sh
      - run:
          name: Cleanup cluster
          command: |
            minikube delete -p sysbox || true