version: 2.1

########################
# Workflow Definitions #
########################
workflows:
  main:
    jobs:
      - runner-test:
          context: Info-b23prodtm

###################
# Job Definitions #
###################
jobs:
  runner-test:
    resource_class: medium #b23prodtm/linux
    docker:
      - image: registry.nestybox.com/nestybox/ubuntu-noble-systemd-docker
        entrypoint: ["/sbin/init"]
      #- image: cimg/base:2024.12
        environment:
          RESOURCE_CLASS: $K8S_RUNNER_RESOURCE
          TOKEN: $K8S_RUNNER_TOKEN
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS
    steps:
      - checkout
      - run:
          name: Verify environment
          command: |
            printenv
      - run:
          name: Install podman and minikube
          command: |
            ./configure_podman.sh
      - run:
          name: Install helm and charts
          command: |
            cp values.yaml.example values.yaml
            sed -i -e "s/YOUR_CIRCLECI_TOKEN_HERE/${TOKEN}/" \
            -e "s#MY_ORG/RESOURCE_CLASS_HERE#${RESOURCE_CLASS}#" values.yaml
            ./install_ssh_gateway.sh
      - run:
          name: Cleanup cluster
          command: |
            minikube delete -p sysbox || true
